{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://api.github.com/user/repos",
        "body": {
          "encoding": "UTF-8",
          "base64_string": "eyJuYW1lIjoidmFyaWFibGUtcmVwbyJ9\n"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            "token <<ACCESS_TOKEN>>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 401,
          "message": "Unauthorized"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Github-Media-Type": [
            "github.v3; format=json"
          ],
          "X-Ratelimit-Limit": [
            "60"
          ],
          "X-Ratelimit-Remaining": [
            "50"
          ],
          "X-Ratelimit-Reset": [
            "1694628702"
          ],
          "X-Ratelimit-Used": [
            "10"
          ],
          "X-Ratelimit-Resource": [
            "core"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RvY3MuZ2l0aHViLmNvbS9yZXN0In0=\n"
        }
      },
      "recorded_at": "Wed, 13 Sep 2023 17:11:44 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}